<div class="right-sidebar">
    <div class="slimscrollright">
        <div class="rpanel-title"> Online Users <span><i class="ti-close right-side-toggle"></i></span> </div>
        <div class="r-panel-body">
            <ul class="m-t-20 chatonline onlineUsers">

            </ul>
        </div>
    </div>
</div>

<footer class="footer" style="margin-left:0">
    <div class="text-center"><img src="images/powered-by-boodskap.svg" alt="powered-by-logo" height="24"></div>
    <!-- &copy; <span class="currentYear"></span> All rights reserved. Powered by <a href="https://boodskap.io">Boodskap Inc.,</a> -->
</footer>