<style>
    .navbar-collapse{
        background: none;
        box-shadow: none;
    }
    .bg-light {
        background-color: #ffffff!important;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border-bottom: 4px solid #08c;">
    <a class="navbar-brand" href="#">Your Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" onclick="loadMainPage('/home')" href="#/home" ><i class="fa fa-home"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="loadMainPage('/students-registration')" href="#/students-registration"><i class="fa fa-bell"></i> Registration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="loadMainPage('/notifications')" href="#/notifications"><i class="fa fa-bell"></i> Notifications</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  onclick="loadMainPage('/profile')" href="#/profile"><i class="fa fa-user"></i> Profile</a>
            </li>
            <li class="nav-item pull-right">
                <a class="nav-link"  onclick="logout()" href="javascript:void(0);"><i class="fa fa-sign-out"></i> Logout</a>
            </li>
        </ul>
    </div>
</nav>
