<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <nav class="sidebar-nav"> 
            <ul class="leftMainMenu" id="sidebarnav">
                <li class="cam_map">
                    <a href="javascript:void(0)"><img alt="" src="images/cam_map.svg">
                        <small>Cam Map</small></a>
                </li>
                <li class="audio">
                    <a href="javascript:void(0)"><img alt="" src="images/audio.svg">
                        <small>Audio</small></a>
                </li>
                <li class="alarm_setup">
                    <a href="javascript:void(0)"><img alt="" src="images/alarm_setup.svg">
                        <small>Alarm Setup</small></a>
                </li>
                <li class="ptz active">
                    <a href="javascript:void(0)"><img alt="" src="images/ptz.svg">
                        <small>PTZ</small>
                    </a>
                </li>
                <li class="cam_log">
                    <a href="javascript:void(0)"><img alt="" src="images/cam_log.svg">
                        <small>Cam Logs</small></a>
                </li>
            </ul>
        </nav> 
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>