body{
    font-size:13px !important;
    font-family: 'Play' !important;
 
}
.container-fluid {
    padding: 0 20px !important;
}
.page-titles {
    margin: 0 -20px 15px !important;
}
/* .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75) !important;
} */
.light-logo{
    color: #4e5467;
}
.dark-logo{
    color: #4b81c2;
}
.dark-logo, .light-logo{
    font-weight: bold;
    letter-spacing: 5px;
    margin-left: 10px;
    font-size: 1.2rem;
}
.skin-default-dark .topbar .top-navbar .navbar-header .navbar-brand .light-logo{
    display: inline !important;
}
.dark-logo.leftIcon, .light-logo.leftIcon{
    background-color: #4b81c2 !important;
    color: #fff !important;
    margin: 0px;
    letter-spacing: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}

a:hover {
    color: #4b81c2 !important;
}
.sidebar-nav ul li a.active, .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover, .sidebar-nav ul li a:hover i {
    color: #4b81c2 !important;
}

nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    font-weight: 400 !important;
}
.paging_simple_numbers .pagination .paginate_button.active a, .paging_simple_numbers .pagination .paginate_button:hover a {
    color: #fff !important;
    background-color: #4b81c2 !important;
    background: rgb(75, 129, 194) !important;
    border-color: #4b81c2 !important;
}
.card-body{
    /* padding:15px !important; */
}
.page-titles .breadcrumb .breadcrumb-item.active {
    color: #4b81c2;
    font-weight: 500;
}
.loader__label {
    color: #4b81c2 !important;
    /*border-color: #4b81c2;*/
}

.loader__figure {
    height: 0;
    width: 0;
    box-sizing: border-box;
    border: 0 solid #4b81c2;
    border-radius: 50%;
    -webkit-animation: loader-figure 1.15s infinite cubic-bezier(.215, .61, .355, 1);
    -moz-animation: loader-figure 1.15s infinite cubic-bezier(.215, .61, .355, 1);
    animation: loader-figure 1.15s infinite cubic-bezier(.215, .61, .355, 1)
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff !important;
    background-color: #36b9d7 !important;
    border-color: #36b9d7 !important;
}

.btn-primary:hover {
    background-color: #36b9d7;
    border-color: #36b9d7;
    color:#fff !important;
}

.btn-primary.focus, .btn-primary:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #33b9dd24
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #33b9dd !important;
    border-color: #33b9dd !important;
}
.btn-primary{
    background-color: #33b9dd !important;
    border: 1px solid #33b9dd;
}
.table .pl-30{
    padding-left: 30px !important;
}
.table .pl-25{
    padding-left: 25px !important;
}

.table td{
    padding: 10px !important;
}
.table th{
    padding: 10px !important;
    background-color: #eeeeee !important;
    color: #4b81c2 !important;
}
.nestedTable td{
    font-size:12px !important;
    padding: 10px !important;
    background-color: #fff !important;
}
.nestedTable th{
    font-size:12px !important;
    padding: 10px !important;
    background-color: #fff !important;
    color: #4e5467 !important;
}

div.dataTables_wrapper div.dataTables_processing{
    /* background-color: #ffeb3b !important; */
    background-color: #ececf6 !important;

}

.ms-container {
    width: 100% !important;
}
.notify .successpoint {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #00c292;
    position: absolute;
    right: 6px;
    top: -10px;
}
.notify .successbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #00c292;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .dangerpoint {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #e46a76;
    position: absolute;
    right: 6px;
    top: -10px;
}
.notify .dangerbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #e46a76;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .infopoint {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #03a9f3;
    position: absolute;
    right: 6px;
    top: -10px;
}
.notify .infobit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #03a9f3;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .warningpoint {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #fec107;
    position: absolute;
    right: 6px;
    top: -10px;
}
.notify .warningbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #fec107;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.ivrItem{
    height: 75px;
    background-color: #eee;
    border:1px solid #eee;
    border-radius:10px;
}

.bg-dark {
    background-color: #4F5467 !important;
}

div.dataTables_filter input{
    width:200px !important;
}

.user_bg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: inline;
    margin-right: 5px;

}
.tooltip-item {
     background: transparent !important;
    margin-top: 5px;
    font-weight: normal;
}
.dropdown-item.active, .dropdown-item:active {
    color: #4b81c2 !important;
    text-decoration: none;
    background-color: transparent !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #eaedf0 ;
    height: 38px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    line-height: 38px !important;
}

.profilePage .dropify-wrapper{
    height: 100px;
}
.dropify-filename{
    display: none;
}

h6.card-title:after {
    /*content: '';*/
    /*background-color: #4b81c2;*/
    /*display: block;*/
    /*width: 10%;*/
    /*height: 3px;*/
    /*margin-top: 5px;*/
}
.pl-25{
    padding-left: 25px !important;
}
.brandtextImg{
    height: 10px;
    margin-left: 3px;
}
.navbar-collapse{
    background: #ffffff;
    color: #363636 !important;
    box-shadow: 7.8px 0.1px 10px #cccccc;
}
.sidebartoggler,.ti-menu{
    color: #4b81c2 !important;
}
.page-titles {
    background: #F8F9FB !important;
  
}
.page-wrapper {
    background: #F3F4F8 !important;
}
.text-themecolor {
    color: #363636 !important;
}
.breadcrumb-item{
    /* color: #B2B3B5 ; */
}
.btn-secondary{
    border :1px solid #175e7c !important;
    background :  #175e7c !important;
    color : #ffffff !important
}
.btn-secondary:hover {
    background-color: #175e7c;
    border-color: #175e7c;
    color:#fff !important;
}

.btn-secondary.focus, .btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #175e7c2e
}


.primaryText{
    color:#EC4D64 !important;
}
.white-space-nowrap{
    white-space: nowrap;
}
.mainText{
    font-weight: 600;
    color: #292828a6;
    letter-spacing: 1px;
    margin: 6px 6px 0;
}
.secondaryText{
    margin: 0 6px;
    color: #847d7d;
}
/* .mr-4p{
    margin-right: 4px;
} */
.userProfile{
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    margin: auto;
}
.userProfile img{
    width: 100%;
}
.pr-15{
    padding-right: 15px;
}
.light-border{
    border-left: 1px solid #e4e0e07a;
}
.iconsList{
    width: 35px;
    height: 35px;
    background: #eee;
    border-radius: 50%;
    padding: 7px;
    margin-right: 10px;
    margin-top: 5px;
}
.iconsList img{
width: 100%;
}
.mt-11{
    margin-top: 11px !important;
}
.top-2{
    top: -2px;
}
.mainText {
    color: #4b81c2 !important;
}
.ml-15{
    margin-left: 15px;
}
.settingDropdown{
    padding: 10px;
    margin-top: 10px;
}
.sidebar-nav>ul>li.active>a {
    color: #4b81c2 !important;
    font-weight: 500;
    border-left: 3px solid #4b81c2 !important;
}
.sidebar-nav>ul>li.active>a i {
    color: #4b81c2 !important;
}
.elipsisMenu{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elipsisMenu:hover,
.elipsisMenu:focus,
.elipsisMenu:active,
.elipsisMenu:visited{
    white-space: normal;
    overflow: visible;
    text-overflow: unset;
}

.dataTables_wrapper {
    padding-top: 0px !important;
}
.pl-15{
    padding-left: 15px;
}
.left-sidebar {
    padding-top: 65px !important;
    width: 75px;
    z-index: 1000;
    background-color: #33b9dd;
}
.sidebar-nav{
    padding: 0px !important;
}
.unsort::after,.unsort::before{
    content: "" !important;
}
.modal-header {
    background: #4b81c2;
    color: #ffffff;
     border-top-left-radius: 0 !important; 
     border-top-right-radius: 0 !important; 
}
.modal-content {
      border: 0 !important;
    border-radius: 0 !important;
}
.close {
   
    color: #ffffff !important;
   
}
.theme-color{
    color: red;
}
.pl-30{
    padding-left: 30px !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
 
    content: '+' !important;
}
table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th:first-child:before {
    content: '-' !important;
    background-color: #d33333;
}
.hide-file-input {
    display: none;
}
.text-file {
    background: #fff !important;
    font-size: 14px;
}
.btn-right-0 {
    right: 0;
    top: 0;
}
.file-upload {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 7px 14px;
}
input[type='file'] {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default;
}
.preview-content {
    position: absolute;
    top: 15px;
    right: 25px;
}
.img-section {
    padding: 12px 12px;
    text-align: center;
    border: 1px solid #dadada;
    display: inline-block;
    border-radius: 50%;
    background: #f7f7f7;
}
.preview-content p {
    color: #797979;
}
.activeicon{
    color: green;
}
.inactiveicon{
    color: red;
}
.card {
    /* margin-bottom: 12px; */
    box-shadow: 5px 6px 12px #ddd;
}
.device-list-card {
    padding: 0;
    box-shadow: 5px 6px 12px #ddd;
}
.card .card-title {
    position: relative;
    font-weight: 500;
}
.device-list-body {
    padding: 10px;
}
.elipsis {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.elipsis:hover, .elipsis:visited, ellipse:focus, ellipse:active {
    white-space: normal !important;
    overflow: visible !important;
    text-overflow: unset !important;
    word-break: break-all;
}
.device-list-title {
    border-bottom: 3px solid #787F91;
    padding: 10px;
    background: #E4E6E8;
    margin: 0;
}
.m-6{
    margin: 6px;
}
.device-kpi-data{
    color: #00000085;

}
label{
    position: relative;
}
.spinners {
    text-align: center;
    margin: 30px auto;
}
.processingText {
    font-size: 15px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: #4b81c2 !important;
}

/**************************************/
/* /Loader - Start/ */
/**************************************/

.spinner {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;

    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.dot0 {
    background-color: #4b81c2;
}

.dot1 {
    background-color: #e91f66;
}

.dot2 {
    background-color: #febd11;
}

.dot0,.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    border-radius: 100%;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.dot0 {
    top: 38px;
    bottom: 38px;
    -webkit-animation-delay: -4.5s;
    animation-delay: -4.5s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
          transform: scale(1.0);
          -webkit-transform: scale(1.0);
      }
}
/**************************************/
/* /Loader - End/ */
/**************************************/


#snackbar, #domain, #api {
    visibility: hidden;
        min-width: 250px;
        margin-left: -125px;
        background-color: #333;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        padding: 16px;
        position: fixed;
        z-index: 999999999999;
        left: 50%;
        top: 100px;
        height: 50px;
    }

.show{
    visibility: visible !important;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin: 0;
    float: right;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switch .slider.round {
    border-radius: 34px;
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }
  .round {
    line-height: 48px;
    color: #fff;
    width: 43px;
    height: 18px;
    display: inline-block;
    text-align: center;
}
.clear-r{
    clear: right;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent transparent transparent !important;
    border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent transparent transparent !important;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    left: 50%;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.customizeProcessing{
    position: absolute;
    left: 0%;
    border-radius: 3px;
    top: 40%;
    width: 100%;
    text-align: center;
}
.customizeProcessing span{
    background: #ccc;
    padding: 10px 20px;

}
.nav li a {
    padding: 7px 10px !important;
}
.text-capitalize{
    text-transform: capitalize;
}
.text-underline{
    text-decoration: underline;
}
.primaryText:hover {
    color: #EC4D64 !important;
}

.topbar .top-navbar .navbar-header {
    background: #fff;
    line-height: 46px !important;
    padding-left: 10px;
    min-width: 70px;
}
.skin-default .topbar {
    background: transparent !important;
}
.topbar .top-navbar {
    min-height: 0 !important;
    padding: 0;
}
.customize-container{
    width: 80%;
    margin: auto;
}
.mrt-p-7{
    padding: 14px 7px;
}
.dropdown {
    margin-top: 0px !important;
    margin-left: 0px !important;
}
.mrt-p-11{
    padding: 11px;
}
.hyberlinkText{
    color: #666666 !important;
}

.input-blue:focus {
    border: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid #2fb7e0 !important;
    -webkit-box-shadow: 0 1px 0 0 #2fb7e0;
    box-shadow: 0 1px 0 0 #2fb7e0;
}

.field-eye-icon {
    position: absolute;
    margin-left: 5px;
    height: 25px;
    display: flex;
    align-items: center;
    right: 15px;
    top: 36px;
    z-index: 3;
}
.form-control{
    min-height: 45px !important;
}

.border-bottom{
    border-bottom: 1px solid #eee !important;
}
.cursor-pointer{
    cursor: pointer;
}
.header-menu{
    border: 1px solid #eee;
    border-radius: 3px;
    min-width: 120px;
    /* height: 90px; */
}
.header-menu:hover{
    border: 1px solid #36b9d7;
}
.header-menu:hover .card-text{
    color: #175e7c;
    font-weight: 600;
}
.header-menu .header-img img{
    height: 100%;
}
.logo{
    height: 60px;
}
.logo img{
    height: 100%;
}
.header-menu .header-img{
    height: 60px;
}
.page-wrapper{
    background: url('../images/buildingbg.png') no-repeat !important;
    background-position: center top !important;
    background-size: contain !important;
}
.topbar .navbar-collapse{
    background: #ffffffa1 !important
}
.fixed-header .page-wrapper, .fixed-layout .page-wrapper{
    padding-top:130px;
    border-bottom: 1px solid #ccc;
    margin-left: 75px !important;
}
.sidebar-nav ul li a{
    padding: 5px 10px !important;
    text-align: center;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 6px;
}
.sidebar-nav ul li a img{
    height: 40px;
}